/*---------------------------------------------------------------------------
 *---------------------------------------------------------------------------
 *
 * Page Structure Styles
 *
 *---------------------------------------------------------------------------
 *--------------------------------------------------------------------------- */
body {
  max-width: 100%;
  background-color: $body-bg;
  font-family: $font-family-base;
  color: $text-color;
  position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
h1 {
  margin: 10px 0;
}
#block-nextg-branding {
  position: absolute;
  left: 50%;
  margin-left: -78px;
  @media (min-width: $screen-md-min) {
    position: relative;
    left: 0;
    margin-left: 0;
  }
  img {
    height: 40px;
    @media (min-width: $screen-md-min) {
      height: 50px;
    }
  }
} 
// this avoids the weird thing that bootstrap does with -20px padding
.row {
  padding-left: inherit;
  padding-right: inherit;
}

//Header
#navbar {
  border-radius: 0;
  border: 0;
  width: 100%;
  overflow: visible!important;
  padding: 10px 0px 0px 0px;
  background-color: $white;
  z-index: 9998;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
  height: 60px;
  margin-bottom: 0;
  z-index: 500;
  top:0;
  font-family: $font-opensans-bold;
  @media (min-width: $screen-md-min) {
    top: 0;
    padding: 20px 0px 0px 0px;
    height: 90px;
  }
  .container {
    padding: 0 10px;
    @media (min-width: $screen-xs-min) {
      padding: 0 20px;
    }
    @media (min-width: $screen-md-min) {
      width: $screen-md-min;
    }
    @media (min-width: $screen-lg-min) {
      width: $screen-lg-min;
    }    
  }
  .navbar-header{
    float: left;
    margin: 0 auto;
  }
  .navbar-toggle {
    float: left;
    margin-right: 0;
    border: 0;
    margin-top: 2px;
    padding: 6px 0;
    color: #58625F;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    @media (min-width: $screen-md-min) {
      margin-top: 5px;
      float: right;
    }
    &:hover, &:focus {
      background: none;
      color: #317F53;
    }
    .fa-bars {
      font-size: 26px;
    }
  }
  &.shrink {
    position: fixed;
    @media (min-width: $screen-md-min) {
      height: 70px;
      padding: 7px 0 0;
      #search-wrapper{
        height: 60px;
      }
      #search-wrapper #search-box .form-search{
        margin-top:8px;
        height: 50px;
        font-size: 40px;
        line-height: 50px;
      }
      #search-wrapper #close {
        margin-top: 25px;
      }
      .navbar-collapse nav ul li ul{
        top:46px;
      }  
    }    
  }
}
.search-icon {
  right: 0;
  height: 100%;
  overflow: hidden;
  transition: padding 0.8s ease;
  line-height: 12px;
  position: relative;  
  padding-left: 19px;
  float: right;
  margin-top: 8px;
  @media (min-width: $screen-md-min) {
    margin-top: 18px;
    border-left: 2px solid #ccc;
  }
  .fa-search {
    color: rgba(0,0,0,0.4);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    height: 24px;
    background-color: transparent;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    &:hover {
      color: #317F53;
    }
  }
}
.menu-toggle {
  display: none;
}
#search-wrapper {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 10000;
    overflow: visible!important;
    background-color: #fff;
    display: none;
    @media (min-width: $screen-md-min) {
      height: 75px;
    }
    #search-box {
      h2 {
        display: none;
      }
      .form-search {
        float: left;
        width: 90%;
        height: 60px;
        line-height: 40px;
        font-size: 30px;
        margin-top: 0;        
        border: none;
        color: #58625F;
        font-family: 'OpenSans';
        font-weight: 700;        
        letter-spacing: 1px;
        @media (min-width: $screen-md-min) {
          height: 60px;
          margin-top: 14px;
          font-size: 43px;
          line-height: 54px;
        }
        &:focus {
          outline: none;
          text-transform: uppercase;
        }
        &::-webkit-input-placeholder {
          color:#888;
          text-transform: uppercase;
        }
        &::-moz-placeholder {
          color:#888;
          text-transform: uppercase;
        } /* firefox 19+ */
        &:-ms-input-placeholder {
          color:#888;
          text-transform: uppercase;
        } /* ie */
        &:-moz-placeholder {
          color:#888;
          text-transform: uppercase;
        }

      }
      .search-form__submit {
        display: none;
      }
    }
    #close {
      float: right;
      width: 18px;
      margin-top: 18px;
      @media (min-width: $screen-md-min) {
        margin-top: 38px;
      }
      .fa-times {
        color: #a0a0a0;
        font-size: 24px;
        height: 32px;
        line-height: 19px;
        background-color: transparent;
        -webkit-transition: color 0.2s linear;
        -moz-transition: color 0.2s linear;
        -o-transition: color 0.2s linear;
        transition: color 0.2s linear;
        &:hover {
          color: #317F53;
        }
      }
    }
}
// this surrounds the content and right rail, so set overall width, margin and padding here
.main-container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-top:20px;
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $screen-xs-min) {
    // after 500px, use 20px margins on each side of the container
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: $screen-sm-min) {
    width: $screen-sm-min;
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media (min-width: $screen-md-min) {
    width: $screen-md-min;
  }
  @media (min-width: $screen-lg-min) {
    width: $screen-lg-min;
  }
  .col-sm-9 {
    width: 100%;
    padding: 0;
    @media (min-width: $screen-md-min) {
      width: 72.5%;
    }
  }
  .col-sm-6 {
    width: 100%;
    padding: 0;    
    @media (min-width: $screen-md-min) {
      width: 50%;
      padding: 0 15px;
    }
  }
  .col-sm-3 {
    width: 100%;
    padding: 0;    
    @media (min-width: $screen-md-min) {
      width: 25%;
    }
  }
  .main-content {
    padding: 10px 0px 30px;
  }
}
.layout-sidebar-first {
  .main-container {
    .col-sm-9 {
      @media (min-width: $screen-md-min) {
        padding-left: 20px;
      }
    }    
  }
}
.layout-sidebar-second {
  .main-container {
    .col-sm-9 {
      @media (min-width: $screen-md-min) {
        padding-right: 20px;
      }
    }    
  }
}
//Footer
.footer-top {
  background-color: #252525;
  color: #777;
  padding: 30px 0px;
  min-height: 250px;
  a {
    color: #ccc;
    &:hover {
      color: #317F53;
    }
  }
}
.footer-bottom {
  padding: 15px 0px;
  font-size: 12px;
  background-color: #1c1c1c;
  color: #777;
  a {
    color: #ccc;
    &:hover {
      color: #317F53;
    }
  }
}

//Social Share
.social-share{
  float: right;
  ul{
    list-style: outside none none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      margin-left: 14px;
      font-size: 16px;
      a {
        border: 1px solid #fff;
        border-radius: 50%;
        display: block;
        height: 40px;
        line-height: 40px;
        width: 40px;
        color: #fff;
        text-align: center;
        transition: all 0.3s ease;
        .fa {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
        }
        &:hover{
          
        }
      }
      &:hover{
        a {
          background: #000;
          color: #317F53;
          border: 1px solid #fff;          
          transform: rotateY(360deg);
          
        }
      }
    }
  }
}
.hero-image{
  width: 100%;
  height: auto;
  background:#ccc;
}
.carousel-control {
  height: 60px;
  margin-top: 0;
  font-size: 80px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  position: absolute;
  top: 40%;
  opacity: 0.5;
  line-height: 45px;
   @media (min-width: $screen-md-min) {
    font-size: 120px;
    height: 80px;
    line-height: 60px;
   }
}
.carousel-caption{
  top: 50%;
  padding-top: -55%;
  transform: translateY(-50%);
  min-height: 165px;
  h1 {
    font-size: 18px;
    @media (min-width: $screen-md-min) {
      font-size: 36px;
    }
  }
  p {
    font-size: 12px;
    @media (min-width: $screen-md-min) {
      font-size: 16px;
    }
  }
  .btn {
    padding: 0 28px;
    height: 25px;
    line-height: 23px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .3s ease;
    font-weight: 400;
    @media (min-width: $screen-md-min) {
      height: 55px;
      line-height: 53px;
    } 
  }
  .btn-light-out {
    color: #fff;
    background-color: #317F53;
    border-radius: 50px;
    &:hover, &:active, &:focus {
      background-color: #fff;
      border-color: #fff;
      color: #191b1d;
    }
  }
}
.region-footer-bottom{
  float:left;
  span {
    padding: 15px 0;
    display: block;
  }
}
.go-top {
  display: block;
  position: fixed;
  text-align: center;
  line-height: 12px!important;
  right: 17px;
  bottom: 25px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0,0,0,0.87);
  border-radius: 2px;
  z-index: 10000;
  height: 29px;
  width: 29px;
  font-size: 26px;
  a {
    color: #fff;
    display: block;
    &:hover {
      color: #317F53;
    }
  }
}
.footer-top {
  .region {
    padding-bottom: 10px;
    p {
      margin: 0 0 20px 0;
    }
    h2 {
      margin: 0 0 12px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      color: #d8dade;
      letter-spacing: 1px;
      padding: 0 0 0 15px;
      border-left: 2px solid #317F53;
    }
    ul {
      padding: 0;
      li {
        list-style: none;
        padding: 8px 4px;
        a {
          transition: padding .15s ease-in-out,background-position .15s ease-in-out,color .15s ease-in-out;
          margin: 0;        
          display: inline-block;
          &:hover {
            background-image: url(../images/hover-right.svg);
            background-size: 4px 8px;
            background-position: 2px center;
            padding-left: 12px;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }  
}
